h1,h2{font-size: 30pt;
    font-weight: bold;
    color: darkblue;
    padding-left: 20px;
}
body{font-size: 16pt;
    font-weight: normal;
    color: dimgray;
    background-color: beige;
    padding-left: 20px;
}