.title-banner{
    background-color: grey;
    color: darkblue;
    text-align: center;
    padding: 20px;

}
.table-style {
    width: 100%;
    height: auto;
  }
  
  .cell-image {
    width: 50%;
    
  }
  
  .cell-text {
    width: 50%;
    
  }
  
  .image-style {
    width: 100%;
    height: auto;
  }

  .overview{
    text-align: center;
  }
  body {
    background-color: beige; 
    color: dimgrey;
    background-size: cover;
    background-position: center;
  }
  h1, h2, h3{
    color: darkblue;
  }
  title{
    color: darkblue;
  }
