html{
    background-color: beige;
}

.title-banner{
    background-color: rgb(212, 190, 237);
    color: darkblue;
    text-align: center;
    text-shadow: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 7fr 1fr;
  }
  .image-style {
    width: 300px;
    height: auto;
    padding-left: 20px;
    padding-right: 40px;
  }

  .Image1-style{
    width: 400px;
    height: 200px;
    align-items: center;
  }
  
  body {
    background-color: beige; 
    color: dimgrey;
    background-size: cover;
    background-position: center;
  }
  h1, h2{
    color: darkblue;
  }
  title{
    color: darkblue;
  }
  nav ul {
    list-style-type: none;
    background-color: beige; 
  }
  nav a:hover {
    background-color: #ddd;
    color: black; 
  }
  nav a {
    display: inline-block;
    color: rgb(0, 0, 255); 
    text-align: left;
    padding: 10px;   
  }
  nav figure{
    align-items: right;
    padding-bottom: 20px;
  }
  p::first-letter {
    font-size: 150%;
    color: darkblue;
  }
  .container p{
    color: black;
  }
  .banner{
    display: grid;
    grid-template-columns: 7fr 1fr;
  }
  #top{
    background-color: rgb(212, 190, 237);
    color: darkblue;
    text-align: center;
    text-shadow: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 7fr 1fr;
  }
  input{
    border: 2px solid rgb(62, 65, 79);
  }
  #here{
    color: rgb(255, 0, 0);
  }
  .upperChoice{
    list-style: none;
    display: inline;
    margin: 2em;
  }
  
  .content {
      display: block;
  }
  .footer{
    background-color: rgb(212, 190, 237);
    align-items: center;
  }
  .references{
    text-align: left;
  }
  #topButton{
    cursor:pointer;
  }
 
@media screen and (min-width: 590px){
    body{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3;
        width:1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .item{
        grid-row: auto;
    }
}
    
@media screen and (min-width: 790px){
    
    #main{
        display: flex;
        flex: 1;
    }
    #section1{
        display:grid;
        grid-template-columns: 3fr 1fr;
    }
    .item {
        height: auto;
    } 
    #section2{
        display:grid;
        grid-template-columns: 3fr 1fr;
    }
    .item2 {
        height: auto;
    }
    #section3{
        display:grid;
        display: flex;
        grid-template-columns: 3fr 1fr;
    }
    .item3 {
        height: auto;
    }
}


