.title-banner{
    background-color: dimgray;
    color: darkblue;
    text-align: center;
    padding: 20px;

}
.table-style {
    width: 100%;
    height: auto;
  }
  
  .cell-image {
    width: 50%;
    
  }
  
  .cell-text {
    width: 50%;
    
  }
  
  .image-style {
    width: 80%;
    height: auto;
  }

  .overview{
    text-align: center;
  }
  body {
    background-color: beige; 
    color: dimgrey;
    background-size: cover;
    background-position: center;
  }
  h1, h2, h3{
    color: darkblue;
  }
  title{
    color: darkblue;
  }
  nav ul {
    list-style-type: none;
   
    background-color: #ffffff; 
  }
  nav a:hover {
    background-color: #ddd;
    color: black; 

  }
  nav a {
    display: inline-block;
    color: blue; 
    text-align: left;
    padding: 10px; 
    
  }
  p::first-letter {
    font-size: 150%;
    color: rgb(71, 71, 152);
  }
.container p{
    color: black;
}
input[required] {
    border: 2px solid red;
  }
#here{
    color: rgb(212, 45, 84);
}
.upperChoice{
    list-style: none;
    display: inline;
    margin: 2em;
}
